* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/pokemon-bg.jpg");
}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-div {
  background-color: white;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

p {
  text-align: center;
}
